{% extends 'base.html' %}

{% block content %}
<section>
    <div class="container my-md-5">
        <div class="row">
            <div class="d-md-flex">
                <h1 class="col text-center fs-1">Journal Entries</h1>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container my-2">
        <div class="row">
            <div class="d-flex justify-content-center">
                <div class="d-md-flex flex-column col-md-6">
                    <h3 class="text-center">New Journal Entry</h3>
                    <div class="container">
                        <form action='../../journal/entry' method="POST">
                            {{form.hidden_tag()}}
                            <div class="form-group">
                                <label for="name">Title</label>
                                {{ form.name(class = 'form-control', placeholder = 'Title') }}
                            </div>
                            <div class="form-group">
                                <label for="details">Journal Entry</label>
                                {{ form.details(class = 'form-control', placeholder = 'Title') }}
                            </div>
                            {{ form.submit_button(class = "btn btn-primary btn-block mt-2")}}
                            </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}