<div class="container col-lg-6">
    <div class="">
        <form method="POST">
            {{ form.hidden_tag() }}
            <div class="mb-3">
                {{ form.name.label }}
                {{ form.name(class = 'form-control', placeholder = 'name') }}
            </div>
            <div class="mb-3">
                {{ form.details.label }}
                {{ form.details(class = "form-control", placeholder = "details") }}
            </div>
            {{ form.submit_button(class = "btn btn-primary btn-block mt-2")}}
        </form>
    </div>
</div>